---
---
<section id="industries" class="max-w-8xl mx-auto px-8 xl:px-30 py-10 lg:py-20">
    <div class="inline-flex flex-col items-center w-full gap-y-6">
        <h2 class="text-center justify-start text-black text-2xl sm:text-4xl font-bold leading-loose sm:leading-10">Who Is SalesZote For?</h2>
        <div class="max-w-[794px] text-center justify-start text-black text-base font-medium leading-snug">
            SalesZote is built to serve a wide range of businesses. Whether you're just starting out or managing multiple branches,
            SalesZote gives you the tools to sell, manage and grow with confidence.
        </div>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-5 mt-7">
        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image1.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Retail Shops</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">From clothing stores to general shops</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image2.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Hardware Stores</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Track bulky stock and multiple suppliers</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image3.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Pharmacies & Chemists</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Manage sensitive inventory with ease</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image4.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Restaurants & Cafés</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Handle dine-in, takeout and daily expenses</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image5.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Cosmetics & Beauty Stores</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Manage fast-moving and seasonal stock</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image6.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Electronics Shops</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Monitor sales, repairs and warranties</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image7.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Agrovet & Farm Supply Stores</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Manage sensitive inventory with ease</p>
        </div>

        <div class="bg-[linear-gradient(180deg,rgba(0,0,0,0.00)_0%,rgba(0,0,0,0.80)_100%),url('/images/industries/Image8.jpg')] industry">
            <h6 class="justify-start text-white text-base lg:text-xl font-bold leading-snug lg:leading-7">Mini Supermarkets</h6>
            <p class="self-stretch justify-start text-zinc-100 text-sm sm:text-base font-medium leading-snug">Streamline checkout and inventory across aisles</p>
        </div>
    </div>
</section>
