---
---
<section id="why-choose-us" class="max-w-8xl mx-auto px-8 xl:px-30 py-10 lg:py-20">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2 lg:col-span-1 flex flex-col gap-y-8">
            <h3 class="self-stretch justify-start text-black text-2xl sm:text-4xl font-bold leading-10">Why Choose SalesZote</h3>

            <div class="self-stretch h-0 outline outline-1 outline-offset-[-0.50px] outline-neutral-300"></div>

            <div>
                <h6 class="self-stretch justify-start text-black text-lg font-bold leading-relaxed">Built for Kenyan Businesses</h6>
                <div class="self-stretch justify-start text-neutral-600 text-base font-medium leading-snug mt-2">
                    Whether you're running a shop in town or managing multiple outlets, SalesZote is made with your business environment in mind, including local payment methods like M-Pesa.
                </div>
            </div>

            <div>
                <h6 class="self-stretch justify-start text-black text-lg font-bold leading-relaxed">Easy to Use</h6>
                <div class="self-stretch justify-start text-neutral-600 text-base font-medium leading-snug mt-2">
                    No complicated training or manuals. SalesZote is clean, simple and designed so you can get started in minutes.
                </div>
            </div>

            <div>
                <h6 class="self-stretch justify-start text-black text-lg font-bold leading-relaxed">Access Anywhere, Anytime</h6>
                <div class="self-stretch justify-start text-neutral-600 text-base font-medium leading-snug mt-2">
                    Your data is stored securely in the cloud so you can manage your business from your phone, tablet, or computer, even when you're on the move.
                </div>
            </div>

            <div>
                <h6 class="self-stretch justify-start text-black text-lg font-bold leading-relaxed">Secure and Reliable</h6>
                <div class="self-stretch justify-start text-neutral-600 text-base font-medium leading-snug mt-2">
                    We take your data seriously. SalesZote uses modern encryption and regular backups to keep your business information safe.
                </div>
            </div>

            <div>
                <h6 class="self-stretch justify-start text-black text-lg font-bold leading-relaxed">Local Support That Cares</h6>
                <div class="self-stretch justify-start text-neutral-600 text-base font-medium leading-snug mt-2">
                    Talk to a real person when you need help. Our friendly support team is here to assist you every step of the way.
                </div>
            </div>

            <div>
                <h6 class="self-stretch justify-start text-black text-lg font-bold leading-relaxed">You Help Shape the Product</h6>
                <div class="self-stretch justify-start text-neutral-600 text-base font-medium leading-snug mt-2">
                    Need a feature that's not there yet? We're always improving. Request new features and help shape a tool that grows with your business.
                </div>
            </div>
        </div>
        <div class="col-span-2 lg:col-span-1 flex flex-col items-center justify-center">
            <img class="w-auto" src="/images/why-use.png" alt="Why use SalesZote" />
        </div>
    </div>
</section>

<section class="max-w-8xl mx-auto px-8 xl:px-30 py-20 bg-[url('/images/backgrounds/bg1.jpg')] bg-cover bg-no-repeat">
    <div class="grid grid-cols-2">
        <div class="col-span-2 lg:col-span-1 flex flex-col items-center lg:items-start">
            <h3 class="text-center lg:text-start text-white text-2xl sm:text-4xl font-bold leading-10">Got an Idea? Let's Build It Together</h3>

            <p class="text-center lg:text-start text-white text-base font-medium leading-snug mt-4">
                Need a feature that's not there yet? We're always listening. With SalesZote, you're not just using a tool, you're helping shape it.
                Request features and see your suggestions come to life as we grow together.
            </p>

            <div class="mt-9">
                <a href="/contact" class="px-4 py-3 rounded-lg inline-flex bg-primary-500 border-1 border-primary-500 text-white text-base font-medium font-main leading-snug">
                    Request a Feature
                </a>
            </div>
        </div>
    </div>
</section>
