---
---
<footer class="bg-[#090727]">
    <div class="max-w-8xl mx-auto px-8 xl:px-30 py-10 lg:py-20">
        <div class="grid grid-cols-2 lg:grid-cols-5 xl:grid-cols-4 gap-x-5 gap-y-10 xl:gap-y-5">
            <div class="col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col justify-start items-start gap-y-4">
                <img class="h-[54px] ml-[-10px]" src="/images/logo/logo_light.svg" alt="SalesZote Logo" />

                <div class="max-w-96 justify-center text-white text-sm font-medium leading-tight">
                    Sales Zote is a powerful and easy-to-use retail POS solution designed to simplify your sales, inventory, and customer management.
                </div>

                <div class="flex">
                    <a href="" class="w-8 h-8 bg-white flex justify-center items-center rounded-full mr-3">
                        <img src="/images/icons/instagram.svg" alt="SalesZote Instagram" />
                    </a>

                    <a href="" class="w-8 h-8 bg-white flex justify-center items-center rounded-full mr-3">
                        <img src="/images/icons/linkedin.svg" alt="SalesZote LinkedIn" />
                    </a>

                    <a href="" class="w-8 h-8 bg-white flex justify-center items-center rounded-full">
                        <img src="/images/icons/facebook.svg" alt="SalesZote Facebook" />
                    </a>
                </div>
            </div>

            <div>
                <h6 class="justify-center text-amber-500 text-sm font-bold leading-tight">Quick Links</h6>

                <div class="self-stretch inline-flex flex-col justify-start items-start gap-3.5 mt-6">
                    <a href="https://app.saleszote.com/register" class="self-stretch justify-center text-white text-sm font-medium leading-tight">Create Account</a>
                    <a href="https://app.saleszote.com/login" class="justify-center text-white text-sm font-medium leading-tight">Sign In</a>
                </div>
            </div>

            <div>
                <h6 class="justify-center text-amber-500 text-sm font-bold leading-tight">Get Started</h6>

                <div class="self-stretch inline-flex flex-col justify-start items-start gap-3.5 mt-6">
                    <a href="/contact" class="justify-center text-white text-sm font-medium leading-tight">Request a Feature</a>
                    <a href="/contact" class="justify-center text-white text-sm font-medium leading-tight">Contact Us</a>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center pt-6 border-t border-white mt-9 gap-x-3.5">
            <div class="justify-start text-white text-xs font-medium">© Copyright 2025. SalesZote LTD</div>
            <div class="w-[5px] h-[5px] bg-neutral-400 rounded-sm"></div>
            <a href="/privacy-policy" class="justify-start text-white text-xs font-medium hover:underline">
                Privacy Policy
            </a>
        </div>
    </div>
</footer>
